@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --tj-theme-primary: #d7ef41;
    --tj-theme-secondary: #d7ef41;
}
p {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #757980;
}
.base-input {
    @apply mb-6 border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-400 focus:ring-blue-500 focus:border-blue-500
}
.base-textarea {
    @apply px-3.5 py-2 mb-6 border text-sm rounded-lg block w-full bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-400 focus:ring-blue-500 focus:border-blue-500
}
.section-header {
    font-family: "Sora", sans-serif;
    font-size: 45px;
    background: var(--tj-theme-primary);
    background: -webkit-gradient(linear, left top, right top, from(var(--tj-theme-primary)), to(#FFF));
    background: -o-linear-gradient(left, var(--tj-theme-primary) 0%, #FFF 100%);
    background: linear-gradient(to right, var(--tj-theme-primary) 0%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-bg {
    background: var(--tj-theme-primary);
    background: -o-linear-gradient(190deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
    background: linear-gradient(260deg, var(--tj-theme-secondary) 0%, var(--tj-theme-primary) 100%);
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.text-dark {
    @apply text-[#757980]
}
.bg-dark {
    @apply bg-[#757980]
}
.text-primary {
    @apply text-[#11141c]
}

.bg-primary {
    @apply bg-[#11141c]
}

.border-primary {
    @apply border-[#11141c]
}

.text-secondary {
    @apply text-[#d7ef41]
}

.bg-secondary {
    @apply bg-[#d7ef41]
}

.border-secondary {
    @apply border-[#d7ef41]
}
.text-third {
    @apply text-[#d7ef41]
}

.bg-third {
    @apply bg-[#d7ef41]
}

.border-third {
    @apply border-[#d7ef41]
}
